
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=7f4e734f200c0de689f28f0a25eb2cad
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress