/* Refined Pro Front Page
Loads on the front page */

/* Front Page
---------------------------------------------------------------------------------------------------- */

.front-page .site-inner {
	margin: 0 auto;
	max-width: 100%;
}

.front-page .content-sidebar-wrap {
	margin: 0px auto;
	max-width: 1200px;
}

.front-page .blog {
	margin-top: 30px;
}

.front-page .wrap {
	margin: 0 auto;
	max-width: 1200px;
}

.front-page .entry-header {
	margin-bottom: 0;
}

.front-page p:last-child,
.front-page .widget:last-child {
	border: none;
}

.front-page .icon {
    color: #ae9d78;
    display: block;
    font-size: 30px;
}

.front-page .widget-area h3 {
	color: #ae9d78;
	font-family: 'jasmineregular', sans-serif;
	font-size: 36px;
	font-weight: 300;
	letter-spacing: 8px;
	margin: 0;
	text-align: center;
}
.front-page .widget-area h3 {
	font-family: 'jasmineregular';
	letter-spacing: 3.6px;
	color: #64895d;
	text-transform: none;
}
.front-page .blog.widget-area h3 {
	margin-bottom: 50px;
}

.front-page .home-slider-overlay.widget-area h3 {
	margin-bottom: 30px;
}

.front-page .site-inner .widget-title {
	color: #d45412;
	font-family: 'Nunito', serif;
	font-size: 36px;
	letter-spacing: 3.6px;
	margin: 0 0 26px;
}
.front-page-slider .widget:last-child .widget-title {
	font-family: 'jasmineregular';
	color: #64895d;
	margin: 22px 0 0;
}
.front-page .site-inner .content-sidebar-wrap .widget-title {
	color: #333;
	font-family: 'Cormorant Garamond', serif;
	font-style: italic;
	font-size: 22px;
	letter-spacing: 1px;
	margin: 0;
}

.home-slider-overlay .widget p {
	color: #64895d;
	font-family: 'Nunito';
	font-size: 32px;
}
.front-page .featured-content .entry {
	padding: 0;
}

.front-page .featured-content .entry {
	position: relative;
}

.front-page-1 .featured-content .entry-header {
	background: #f7f4f3;
	border: 10px solid #fff;
    bottom: -7%;
    left: 0;
    margin: 0 10%;
    padding: 15px 20px;
    position: absolute;
    width: auto;
}
.front-page-1 #featured-page-2 .entry-header{
	background-color: #64895d;
}
.front-page-1 #featured-page-3 .entry-header{
	background-color: #6b5b92;
}
.front-page-1 #featured-page-4 .entry-header{
	background-color: #a11c00;
}
.front-page-1 #featured-page-5 .entry-header{
	background-color: #1d7ab7;
}
.front-page-1 #featured-page-6 .entry-header{
	background-color: #818285;
}
.front-page-1 #featured-page-7 .entry-header{
	background-color: #d45412;
}


.front-page-1 .featured-content .entry,
.front-page-3 .featured-content .entry {
	background: none;
}

.front-page-1 .featured-content .entry-header .entry-title a {
	font-family: 'Nunito',sans-serif;
	font-size: 36px;
	letter-spacing: normal;
	color: #fff !important;
	line-height: 20px;
	margin: 0;
	overflow: visible;
	text-align: center;
	width: 100%;
}
.front-page-1 img.alignnone,
.front-page-1 .alignnone {
	margin: 0;
}

.front-page-1 .featured-content .entry-header h2 {
	margin: 0;
}

/* Slider Overlay
------------------------------------------------------ */

.home-slider {
	background: #fff;
	padding: 0;
	overflow: hidden;
}

.soliloquy-container {
	margin: 0 auto !important;
}

.soliloquy-container .soliloquy-next,
.soliloquy-container .soliloquy-prev {
	background-color: transparent !important;
}

.home-slider .soliloquy-container .soliloquy-image {
	width: 100%;
}
.front-page-slider {
	position: relative;
}
.home-slider-container {
	position: relative;
	margin: 0 auto -40px;
}
.home-slider-overlay, .front-page-slider .widget:last-child {
	position: absolute;
	text-align: center;
	width: 25% !important;
	background-color: #fff;
	top: 25%;
	right: 18%;
}
.front-page-slider .widget:last-child .button {
	margin-bottom: 40px;
}
.home-slider-overlay .wrap {
	background: rgba(255,255,255, 1);
	left: 65%;
	max-width: 35%;
	padding: 30px 40px;
	position: absolute;
	text-align: center;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: auto;
}

.home-slider-overlay .wrap .widget {
	padding: 30px 0;
}
.front-page-slider .widget:last-child p {
	font-size: 32px;
	font-family: 'Nunito';
	color: #64895d;
}
.home-slider-overlay .widget-title::after {
	border: none;
	margin: 0;
	padding: 0;
}

/* Front Page Areas
--------------------------------------------- */


.front-page-2,
.front-page-3,
.front-page-4,
.front-page-5 {
	overflow: hidden;
	padding: 50px 0;
	text-align: center;
}
.front-page-1 {
	padding: 20px 0 50px;
}
.front-page-4 {
	padding: 20px 0;
}
.front-page-2,
.front-page-4 {
	background: none;
}

.front-page-1,
.front-page-3,
.front-page-5 {
	background: #fff;
}
body.home main.content .page {
	display: none;
}
.widget p {
	font-family: 'Nunito';
	font-size: 16px;
	color: #303030;
}

.front-page-2 article .entry-header .entry-meta a {
	font-family: 'Nunito';
	font-size: 12px;
	color: #6b5b92;
}
.front-page-2 article:first-child .entry-meta a {
	color: #1d7ab7;
}
.front-page-2 article:last-child .entry-meta a {
	color: #d45412;
}
.front-page-2 {
	background-color: #6b5b92;
	height: 534px;
	color: #fff;
}
.front-page-2 h2, .front-page-2 h4 {
	color: #fff;
}
.front-page-2 .icon {
	width: 48px;
	height: 48px;
	margin: 0 auto 35px; 
}
.front-page-2 p {
	color: #fff;
}
.front-page-3 {
	background-color: #f8f7e6;
}
.front-page .widget-area h3 {
	color: #d45412;
}
.front-page-3 .widget_text {
	margin-bottom: 0 !important;
}
.front-page-3 .featured-content {
	padding: 0;
}
.front-page-3 .featuredpost .post {
	background-color: #fff;
	width: 32%;
	display: inline-block;
	vertical-align: top;
	margin-right: 2%;
	padding: 24px;
	text-align: left;
}
.front-page-3 .featuredpost .post:last-child {
	margin-right: 0;
}
.page .featured-content article .entry-title a {
	font-family: 'jasmineregular';
	font-size: 36px;
	letter-spacing: 1.5px;
	color: #6b5b92;
	text-align: center;
}
.front-page-3 .featured-content article:first-child .entry-title a{
	color: #1d7ab7;
}
.front-page-3 .featured-content article:last-child .entry-title a {
	color: #d45412;
}
.front-page- .front-page .widget-area h3 {
	color: #d45412;
}
.front-page-4 .widget p {
	color: #818285;
}
.front-page-4 .widget_text {
	margin-top: 20px;
}
.front-page-4 .widget_media_image {
	position: absolute;
	width: 96px !important;
	top: 4px;
	right: 230px;
}

/* Journal
--------------------------------------------- */

.journal .widget-title {
	text-align: center;
}


/* Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1200px) {

	.home-slider-overlay .wrap {
		border: none;
		max-width: 100%;
		position: static;
		-webkit-transform: none;
		-o-transform: none;
		transform: none;
	}

	.front-page .wrap {
		width: 100%;
	}

	.site-inner {
		padding: 0;
	}

}

@media only screen and (max-width: 500px) {

	.front-page .blog .entry {
		float: none;
		width: 100%;
	}

}

/* Fonts
--------------------------------------------- */
@font-face {
    font-family: 'jasmineregular';
    src: url('fonts/jasmine-regular-webfont.woff2') format('woff2'),
         url('fonts/jasmine-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}